<div class='jumbotron mt-4'>
	<h1 class='display-4'>Notes app NodeJS and MongoDB</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet sed dignissimos modi incidunt recusandae quae aliquid
		facilis, illo temporibus aspernatur.</p>
	<hr />
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eaque deleniti, eveniet rerum quam laboriosam ipsum
		molestias hic odio adipisci ipsa culpa! Aut soluta totam, magnam voluptate eos eius quae!</p>
	<a href='http://jhoncamargo.herokuapp.com' class='btn btn-primary'>Go to page</a>
</div>